@font-face {
    font-family: 'Vera Humana 95';
    font-weight: 400;
    src: url('Vera.ttf');
}
@font-face {
    font-family: 'Vera Humana 95';
    font-weight: 700;
    src: url('Verab.ttf');
}
body {
    color: #000;
    background: #edeae4;
    font: 400 14pt 'Vera Humana 95', 'Georgia', 'Liberation Serif', serif;
}

a {
    color: #028;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#main {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}
.centered {
    text-align: center;
}
code {
    display: block;
    text-align: center;
    background: #ddd;
    color: #000;
    border: 1px dotted #000;
    padding: 6px;
    font: 400 10pt 'Lucida Console', monospace;
}
h1 > sup {
    font-size: 12pt;
}
.sectlink {
    text-transform: uppercase;
    text-decoration: none;
    color: #028;
}

iframe {
    background: green;
}